import("methods")
import("FLCore")
exportClasses(
	"FLCatch",
	"FLCatches",
	"FLFishery",
	"FLFisheries"
)
exportMethods(
	"[",
	"[[<-",
  "landings.n",
  "landings.wt",
  "landings.n<-",
  "landings.wt<-",
  "discards.n",
  "discards.wt",
  "discards.n<-",
  "discards.wt<-",
  "catch.sel",
  "catch.sel<-",
  "ccost",
  "price",
  "price<-",
  "catch.q",
  "catch.q<-",
  "effort",
  "vcost",
  "fcost",
  "effort<-",
  "vcost<-",
  "fcost<-",
  "FLCatch",
	"FLCatches",
  "FLFishery",
  "FLFisheries",
  "landings",
  "discards",
  "catch",
  "catch",
  "catch.n",
  "catch.wt",
  "landings.sel",
  "discards.sel",
  "discards.ratio",
  "cost",
	"revenue")
