import("methods")
import("FLCore")
import("ggplotFL")
exportClasses(
  "FLCatch",
  "FLCatches",
  "FLFishery",
  "FLFisheries"
)
exportMethods(
  "$",
  "[",
  "[[<-",
  "FLCatch",
  "FLCatches",
  "FLFisheries",
  "FLFishery",
  "catch",
  "catch",
  "catch.n",
  "catch.q",
  "catch.q<-",
  "catch.sel",
  "catch.sel<-",
  "catch.wt",
  "ccost",
  "cost",
  "discards",
  "discards.n",
  "discards.n<-",
  "discards.ratio",
  "discards.sel",
  "discards.wt",
  "discards.wt<-",
  "effort",
  "effort<-",
  "fcost",
  "fcost<-",
  "hperiod",
  "hperiod<-",
  "landings",
  "landings.n",
  "landings.n<-",
  "landings.sel",
  "landings.wt",
  "landings.wt<-",
  "lrevenue",
  "model",
  "model<-",
  "params",
  "params<-",
  "price",
  "price<-",
  "profit",
  "show",
  "summary",
  "vcost",
  "vcost<-"
)
